<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.1
    </div>
    <strong>Copyright &copy; 2019 <a href="https://adminlte.io">Financiera Súmate</a>.</strong> All rights
    reserved.
</footer>
