@{
    ViewBag.Title = "Ficha de Identificación Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <style>
        input {
            text-transform: uppercase;
        }

        #map, #mapD {
            height: 250px;
            width: 500px;
        }

        .gallery img {
            width: 200px
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
}
<!-- Content Wrapper. Contains page content -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUSWbri5yyzK1kh1lEj9fxX21WyM3Gaow&sensor=false" async defer type="text/javascript"></script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Agregar Nueva
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Ficha de Identificación</a></li>
            <li class="active">Ficha de Identificación del Cliente</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Ficha de Identificación del Cliente</h2>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <label>Documento</label>
                                <select class="form-control select2" id="tipo_check">
                                    <option selectd value="0">Selecciona</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Código del Cliente</label>
                                <input type="text" class="form-control" id="codcli" style="text-transform:uppercase" maxlength="15" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Fecha de Levantamiento</label>
                                <input type="text" class="form-control fca" id="fecha_lev" />
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <label></label>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Nombre</label>
                                <input type="text" class="form-control" id="nombre_cli" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Apellido Paterno</label>
                                <input type="text" class="form-control" id="app_cli" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Apellido Materno</label>
                                <input type="text" class="form-control" id="apm_cli" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Clave de Elector</label>
                                <input type="text" class="form-control" id="clave_elector" maxlength="18" required />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>CURP</label>
                                <input type="text" class="form-control" id="curp" maxlength="18" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>RFC</label>
                                <input type="text" class="form-control" id="rfc" maxlength="13" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Número Serie FIEL (firma electrónica avanzada)</label>
                                <input type="text" class="form-control" id="numero_serie" maxlength="20" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Conocido (a) como</label>
                                <input type="text" class="form-control" id="conocido_cliente" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Nacionalidad</label>
                                <input type="text" class="form-control" id="nacionalidad" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>País de Nacimiento</label>
                                <input type="text" class="form-control" id="pais_nac" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Estado de Nacimiento</label>
                                <input type="text" class="form-control" id="estado_nac" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Fecha de Nacimiento</label>
                                <input type="text" class="form-control fca" id="fecha_nac" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Sexo</label>
                                <select class="form-control select2" id="sexo">
                                    <option value="N">Seleccione...</option>
                                    <option value="H">Hombre</option>
                                    <option value="M">Mujer</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Estado Civil</label>
                                <select class="form-control select2" id="edo_civil">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">Casado</option>
                                    <option value="2">Soltero</option>
                                    <option value="3">Unión Libre</option>
                                    <option value="4">Viudo</option>
                                    <option value="5">Separado</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Deps. Económicos</label>
                                <input type="text" class="form-control" id="deps_eco" max="2" onkeypress="return isNumberKey(event)" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Escolaridad</label>
                                <select class="form-control select2" id="escolaridad_cliente">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">Primaria</option>
                                    <option value="2">Secundaria</option>
                                    <option value="3">Preparatoria</option>
                                    <option value="4">Tec. o com.</option>
                                    <option value="5">Licenciatura</option>
                                    <option value="6">Otra</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Años de estudio</label>
                                <input type="text" class="form-control" id="ann_estudio_cliente" maxlength="2" onkeypress="return isNumberKey(event)" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Profesión</label>
                                <input type="text" class="form-control" id="profesion_cliente" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Ocupación</label>
                                <input type="text" class="form-control" id="ocupacion_cliente" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Habla alguna lengua indígena</label>
                                <input type="checkbox" class="minimal" name="lengua" id="lengua" />
                                <div id="div_lengua" style="display:none">
                                    <label>¿Cuál?</label>
                                    <input type="text" class="form-control" id="otra_lengua" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Rol del cliente en el Hogar</label>
                                <input type="text" class="form-control" id="rol_hogar" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Presenta alguna discapacidad</label>
                                <input type="checkbox" class="minimal" name="discapacidad" id="discapacidad" value="1" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Uso de Internet</label>
                                <input type="checkbox" class="minimal" name="internet" id="internet" value="1" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Uso de Redes Sociales</label>
                                <input type="checkbox" class="minimal" name="redes" id="redes" value="1"/>
                                <div id="div_redes" style="display:none">
                                    <label>¿Cuál(es)?</label>
                                    <input type="text" class="form-control" id="otras_redes" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Correo Electrónico</label>
                                <input type="text" class="form-control" id="correo_elec" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Cuenta con algún apoyo social</label>
                                <input type="checkbox" class="minimal" name="apoyo_social" id="apoyo_social" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Código de Familia</label>
                                <input type="text" class="form-control" id="codigo_familia" maxlength="20" />
                            </div>
                        </div>
                        <hr />
                        <h2 class="box-title">DATOS DE LA PAREJA</h2>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Nombre</label>
                                <input id="nombre_pareja" type="text" class="form-control" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Apellido Paterno</label>
                                <input type="text" class="form-control" id="app_pareja" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Apellido Materno</label>
                                <input type="text" id="apm_pareja" class="form-control" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Fecha de Nacimiento</label>
                                <input type="text" class="form-control fca" id="fecha_nac_pareja" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Conocido(a) como</label>
                                <input type="text" class="form-control" id="conocido_pareja" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Estado de Nacimiento</label>
                                <input type="text" class="form-control" id="edo_nac_pareja" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Actividad u Ocupación</label>
                                <input type="text" class="form-control" id="actividad_pareja" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Lugar de Trabajo (nombre y dirección)</label>
                                <input type="text" class="form-control" id="lugar_trabajo_pareja" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Clave de Elector</label>
                                <input type="text" class="form-control" id="clave_elec_pareja" maxlength="18" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Escolaridad</label>
                                <select id="escolaridad_pareja" class="form-control select2">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">Primaria</option>
                                    <option value="2">Secundaria</option>
                                    <option value="3">Preparatoria</option>
                                    <option value="4">Tec. o com</option>
                                    <option value="5">Licenciatura</option>
                                    <option value="6">Otra</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Años de estudio</label>
                                <input type="text" class="form-control" id="ann_estudio_pareja" maxlength="2" onkeypress="return isNumberKey(event)" />
                            </div>
                        </div>
                        <hr />
                        <h2 class="box-title">DATOS DEL DOMICILIO DE CLIENTE Y DE SU PAREJA</h2>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>País</label>
                                <input type="text" class="form-control" id="pais" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Estado</label>
                                <select class="form-control select2" id="estado">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">Puebla</option>
                                    <option value="2">Veracruz</option>
                                    <option value="3">Hidalgo</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Municipio</label>
                                <select class="form-control select2" id="municipio">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">Puebla</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Ciudad</label>
                                <select class="form-control select2" id="ciudad">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">Puebla</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Código Postal</label>
                                <select class="form-control select2" id="cp">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">72100</option>
                                    <option value="2">72110</option>
                                    <option value="3">72120</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Localidad</label>
                                <input type="text" class="form-control" id="localidad" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Colonia</label>
                                <select class="form-control select2" id="colonia_cliente">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">Ignacio Romero Vargas</option>
                                    <option value="2">La Paz</option>
                                    <option value="3">La Libertad</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Calle</label>
                                <input type="text" class="form-control" id="calle" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Número</label>
                                <input type="text" class="form-control" id="numero_calle" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Referencia de Localización</label>
                                <textarea class="form-control" id="referencia_loc_adicional"></textarea>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>La casa es:</label>
                                <select class="form-control select2" id="casa_adicional">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">Propia</option>
                                    <option value="2">Rentada</option>
                                    <option value="3">Prestada</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Teléfono fijo/celular propio para recados</label>
                                <input type="text" id="tel_fijo_adicional" class="form-control" maxlength="14" onkeypress="return isNumberKey(event)">
                            </div>
                        </div>

                        <hr />
                        <h2 class="box-title">DATOS DE LA ACTIVIDAD ECONÓMICA</h2>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Actividad</label>
                                <input type="text" class="form-control" id="actividad_economica" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Negocio a emprender</label>
                                <input type="text" class="form-control" id="negocio_economica" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Sector</label>
                                <select id="sector_economica" class="form-control select2">
                                    <option value="0" selected> Seleccione...</option>
                                    <option value="1">MC</option>
                                    <option value="2">MS</option>
                                    <option value="3">MP</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Años en el Oficio</label>
                                <input type="text" class="form-control" id="ann_oficio" maxlength="2" onkeypress="return isNumberKey(event)" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Años en el Negocio</label>
                                <input type="text" class="form-control" id="ann_negocio" maxlength="2" onkeypress="return isNumberKey(event)" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Negocio</label>
                                <select id="tipo_negocio" class="form-control select2">
                                    <option value="0" selected> Seleccione...</option>
                                    <option value="1">FIJO</option>
                                    <option value="2">AMBULANTE</option>
                                    <option value="3">SEMIFIJO</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Referencia de Localización</label>
                                <textarea class="form-control" id="ref_loc_acti"></textarea>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Municipio</label>
                                <select id="muni_acti" class="form-control select2">
                                    <option value="0" selected>Seleccione</option>
                                    <option value="1">Puebla</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Código Postal</label>
                                <select id="cp_acti" class="form-control select2">
                                    <option value="0" selected>Seleccione</option>
                                    <option value="1">72100</option>
                                    <option value="2">72110</option>
                                    <option value="3">72120</option>
                                    <option value="4">72130</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Colonia</label>
                                <select id="colonia_acti" class="form-control select2">
                                    <option value="0" selected>Seleccione</option>
                                    <option value="1">IRV</option>
                                    <option value="2">La Libertad</option>
                                    <option value="3">La Paz</option>
                                    <option value="4">Nueva Aurora</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Calle</label>
                                <input type="text" class="form-control" id="calle_acti" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Número</label>
                                <input type="text" class="form-control" id="numero_acti" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Ubicación del Negocio</label>
                                <textarea class="form-control" id="ubic_negocio_acti"></textarea>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Teléfono fijo/celular del negocio</label>
                                <input type="text" class="form-control" id="tel_acti" maxlength="12" onkeypress="return isNumberKey(event)" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Local</label>
                                <select id="local_acti" class="form-control select2">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">P</option>
                                    <option value="2">R</option>
                                    <option value="3">Pr</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>No. de Trabajadores</label>
                                <input type="text" class="form-control" id="num_trabajadores" maxlength="4" onkeypress="return isNumberKey(event)" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Días que trabaja</label>
                                <select id="dias_trabaja" class="form-control select2" multiple="multiple" data-placeholder="Selecciona días"
                                        style="width: 100%;">
                                    <option value="1">Lunes</option>
                                    <option value="2">Martes</option>
                                    <option value="3">Miercoles</option>
                                    <option value="4">Jueves</option>
                                    <option value="5">Viernes</option>
                                    <option value="6">Sabado</option>
                                    <option value="7">Domingo</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Días que descansa</label>
                                <select id="dias_descansa" class="form-control select2" multiple="multiple" data-placeholder="Selecciona días"
                                        style="width: 100%;">
                                    <option value="1">Lunes</option>
                                    <option value="2">Martes</option>
                                    <option value="3">Miercoles</option>
                                    <option value="4">Jueves</option>
                                    <option value="5">Viernes</option>
                                    <option value="6">Sabado</option>
                                    <option value="7">Domingo</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="col-xs-12 col-md-6">
                                    <div class="bootstrap-timepicker">
                                        <div class="form-group">
                                            <label>Hora entrada:</label>
                                            <div class="input-group">
                                                <input type="text" id="hra_entrada" class="form-control timepicker">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <!-- /.form group -->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="bootstrap-timepicker">
                                        <div class="form-group">
                                            <label>Hora Salida:</label>
                                            <div class="input-group">
                                                <input type="text" id="hra_salida" class="form-control timepicker">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <!-- /.form group -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Tiene otro Ingreso</label><br />
                                <input type="checkbox" class="minimal" name="otro_ingreso" id="otro_ingreso" />
                                <div id="div_ingreso" style="display:none">
                                    <label>¿Cuál(es)?</label>
                                    <input type="text" class="form-control" id="otros_ingresos" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <h2 class="box-title">Referencia Personal</h2>
                        <div class="row mt-5">
                            <div class="col-xs-1 col-md-1">
                                <button class="btn btn-sm btn-success" id="btnAgregarRef" data-target="#modal_saveRef" data-toggle="modal"><i class="fa fa-plus-circle"></i> Agregar</button>
                            </div>
                            <div class="col-xs-11 col-md-11 table-responsive">
                                <table id="table-datos" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Relación</th>
                                            <th>Teléfono</th>
                                            <th>Dirección</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyDetalles"></tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-5">
                            <div class="col-xs-12 col-md-6" align="center">
                                <label>Croquis del Negocio</label>
                                <div class="col-xs-12 col-md-12">
                                    <button class="btn btn-sm btn-primary" id="btn_negocio" onclick="buscarNeg(1)"><i class="fa fa-map-marker"></i></button>
                                    <input type="hidden" id="latNeg" /><input type="hidden" id="lonNeg" />
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <div id="map"></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label>¿Usted desempeña o ha desempeñado algún cargo público o plítico en territorio nacional o en país extranjero?</label>
                                <div align="center"><input type="checkbox" class="minimal" name="cargo_publico" id="cargo_publico" /></div>
                                <br />
                                <label>¿Alguno de sus familiares desempeña o ha desempeñado algún cargo público o político en territorio nacional o en país extranjero?</label>
                                <div align="center"><input type="checkbox" class="minimal" name="cargo_publico_extra" id="cargo_publico_extra" /></div>
                            </div>
                        </div>
                        <hr />
                        <h2 class="box-title">DATOS DE BENEFICIARIO</h2>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Nombre(s)</label>
                                <input type="text" class="form-control" id="nombre_bene" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Apellido Paterno</label>
                                <input type="text" class="form-control" id="app_bene" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Apellido Materno</label>
                                <input type="text" class="form-control" id="apm_bene" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Fecha de Nacimiento</label>
                                <input type="text" class="form-control fca" id="fca_nac_bene" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Parentesco</label>
                                <input type="text" class="form-control" id="parentesco_bene" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Participación</label>
                                <input type="text" maxlength="2" onkeypress="return isNumberKey(event)" class="form-control" id="participacion_bene" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Sexo</label>
                                <select class="form-control select2" id="sexo_bene">
                                    <option value="N">Seleccione...</option>
                                    <option value="H">Hombre</option>
                                    <option value="M">Mujer</option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <h2 class="box-title">DATOS DEL DOMICILIO</h2>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Municipio</label>
                                <select class="form-control select2" id="municipio_bene">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">Puebla</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Código Postal</label>
                                <select class="form-control select2" id="cp_bene">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">72100</option>
                                    <option value="2">72110</option>
                                    <option value="3">72120</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Calle</label>
                                <input type="text" class="form-control" id="calle_bene" />
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Número</label>
                                <input type="text" class="form-control" id="numero_calle_bene" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-3">
                                <label>Referencia de Localización</label>
                                <textarea class="form-control" id="referencia_loc_bene"></textarea>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>La casa es:</label>
                                <select class="form-control select2" id="casa_bene">
                                    <option value="0" selected>Seleccione...</option>
                                    <option value="1">Propia</option>
                                    <option value="2">Rentada</option>
                                    <option value="3">Prestada</option>
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <label>Teléfono fijo/celular propio para recados</label>
                                <input type="text" id="tel_fijo_bene" class="form-control" maxlength="14" onkeypress="return isNumberKey(event)">
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-6" align="center">
                                <br />
                                <label>Accionista</label>
                                <br />
                                <input type="checkbox" id="accionista" name="accionista" value="1" class="minimal" checked>
                            </div>
                            <div class="col-xs-6 col-md-6" align="center">
                                <br />
                                <label>Relación de parentesco</label>
                                <br />
                                <input type="checkbox" id="relacion_pare" name="relacion_pare" value="1" class="minimal" checked>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-xs-6 col-md-6" align="center">
                                <br />
                                <label>En este acto manifiesto que actúoa nombre y cuenta propia sabedor de las consecuencias legales que tiene el engañar a la Entidad financiera respecto a esta información</label>
                                <br />
                                <input type="checkbox" id="manifiesto_actuo" name="manifiesto_actuo" value="1" class="minimal" checked>
                            </div>
                            <div class="col-xs-6 col-md-6" align="center">
                                <br />
                                <label>En este acto manifiesto que actúo a nombre de un tercero, cuyo nombre completo es:</label>
                                <br />
                                <input type="checkbox" id="actuo_tercero" name="actuo_tercero" value="1" class="minimal" checked>
                            </div>
                        </div>
                        <div class="row mt-5" id="div_nombre_tercero" style="display:none">
                            <div class="col-xs-6 col-md-4">
                                <label>Nombre</label>
                                <input type="text" class="form-control" id="nombre_tercero" />
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <label>Apellido Materno</label>
                                <input type="text" class="form-control" id="apm_tercero" />
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <label>Apellido Serrano</label>
                                <input type="text" class="form-control" id="app_tercero" />
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-primary" onclick="addFichaCliente()"><i class="fa fa-save"></i> Agregar</button>
                    </div>

                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div class="modal fade" id="modal_saveRef">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Agregar Referencia</h4>
            </div>
            <div class="modal-body" style="text-align:center">
                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="nombre_ref" />
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label>Apellido Paterno</label>
                        <input type="text" class="form-control" id="app_ref" />
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label>Apellido Materno</label>
                        <input type="text" class="form-control" id="apm_ref" />
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-xs-6 col-md-4">
                        <label>Relación</label>
                        <input type="text" class="form-control" id="relacion_ref" />
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label>Teléfono</label>
                        <input type="text" class="form-control" id="telefono_ref" onkeypress="return isNumberKey(event)" maxlength="12" />
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label>Tiempo de Conocerlo</label>
                        <input type="text" class="form-control" id="tiempo_conocer" />
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-xs-6 col-md-3">
                        <label>País</label>
                        <input type="text" class="form-control" id="pais_ref" />
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <label>Estado</label>
                        <select id="estado_ref" class="form-control select2">
                            <option value="0" selected>Seleccione...</option>
                            <option value="1">Puebla</option>
                            <option value="2">Veracruz</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <label>Municipio</label>
                        <select id="municipio_ref" class="form-control select2">
                            <option value="0" selected>Seleccione...</option>
                            <option value="1">Acatzingo</option>
                            <option value="2">Puebla</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <label>Ciudad</label>
                        <select id="ciudad_ref" class="form-control select2">
                            <option value="0" selected>Seleccione...</option>
                            <option value="1">Puebla</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-xs-6 col-md-4">
                        <label>Colonia</label>
                        <br />
                        <select id="colonia_ref" class="form-control select2">
                            <option value="0" selected>Seleccione...</option>
                            <option value="1">La Paz</option>
                            <option value="2">Nueva Aurora</option>
                            <option value="3">Maravillas</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label>Calle</label>
                        <input type="text" class="form-control" id="calle_ref" />
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label>Número</label>
                        <input type="text" class="form-control" id="numero_calle_ref" maxlength="10" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btn_referencia_cliente">Aceptar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    $(document).ready(function () {
        $('.select2').select2();
        $('#monto').maskMoney();
        $('.fca').datepicker({
            autoclose: true,
            dateFormat: 'dd/mm/yyyy',
        })
        $(".fca").keypress(function (event) { event.preventDefault(); });
        $('.timepicker').timepicker({
            showInputs: false
        })
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        })

        consultaContenidoCheck();

        $("#modal_saveRef").on("shown.bs.modal", function () {
            $("#nombre_ref").val("");
            $("#app_ref").val("");
            $("#apm_ref").val("");
            $("#colonia_ref").val(0).change();
            $("#calle_ref").val("");
            $("#numero_calle_ref").val("");
            $("#relacion_ref").val("");
            $("#telefono_ref").val("");
        });

        $('#lengua').on('ifChecked', function (event) {
            $("#div_lengua").css('display', 'block');
        });
        $('#lengua').on('ifChanged', function (event) {
            $("#div_lengua").css('display', 'none');
        });
        $('#redes').on('ifChecked', function (event) {
            $("#div_redes").css('display', 'block');
        });
        $('#redes').on('ifChanged', function (event) {
            $("#div_redes").css('display', 'none');
        });
        $('#otro_ingreso').on('ifChecked', function (event) {
            $("#div_ingreso").css('display', 'block');
        });
        $('#otro_ingreso').on('ifChanged', function (event) {
            $("#div_ingreso").css('display', 'none');
        });
    });

    var map, map2, infoWindow, infoWindowD;
    var referencias_cliente = [];
    $('#btn_referencia_cliente').click(function () {
        referencias_cliente.push({
            "nombre": $('#nombre_ref').val(),
            "app": $('#app_ref').val(),
            "apm": $('#apm_ref').val(),
            "relacion": $('#relacion_ref').val(),
            "telefono": $('#telefono_ref').val(),
            "tiempo_conocer": $('#tiempo_conocer').val(),
            "pais_ref": $('#pais_ref').val(),
            "estado_ref": $('#estado_ref option:selected').val() == undefined ? '0' : $('#estado_ref option:selected').val(),
            "municipio_ref": $('#municipio_ref option:selected').val() == undefined ? '0' : $('#municipio_ref option:selected').val(),
            "ciudad_ref": $('#ciudad_ref option:selected').val() == undefined ? '0' : $('#ciudad_ref option:selected').val(),
            "colonia_ref": $('#colonia_ref option:selected').val() == undefined ? '0' : $('#colonia_ref option:selected').val(),
            "calle_ref": $('#calle_ref').val(),
            "numero_calle_ref": $('#numero_calle_ref').val(),
        });
        var s = '';
        var n = 0;
        for (var i = 0; i < referencias_cliente.length; i++) {
            n = i + 1;
            var col = referencias_cliente[i].colonia_ref == 1 ? 'IRV' : 'LA PAZ';
            s = "<tr><td>" + n + "</td><td>" + referencias_cliente[i].nombre + " " + referencias_cliente[i].app + " " + referencias_cliente[i].apm + "</td><td>" + referencias_cliente[i].relacion + "</td><td>" + referencias_cliente[i].telefono + "</td><td>" + col + "," + referencias_cliente[i].calle_ref + " " + referencias_cliente[i].numero_calle_ref + "</td><td><button class='btn btn-xs btn-danger' onClick='eliminaRel(" + n + ")'><i class='fa fa-remove'></i></button></td></tr>";
        }
        $("#bodyDetalles").append(s);
        $("#modal_saveRef").modal("hide");
        $('#table-datos').DataTable();
    });

    function eliminaRel(n) {
        var p = n - 1;
        referencias_cliente.splice(p, 1);
        $("#bodyDetalles").empty();
        var s = '';
        var n = 0;
        for (var i = 0; i < referencias_cliente.length; i++) {
            n = i + 1;
            var col = referencias[i].colonia == 1 ? 'IRV' : 'LA PAZ';
            s += "<tr><td>" + n + "</td><td>" + referencias_cliente[i].nombre + " " + referencias_cliente[i].app + " " + referencias_cliente[i].apm + "</td><td>" + referencias_cliente[i].relacion + "</td><td>" + referencias_cliente[i].telefono + "</td><td>" + col + "," + referencias_cliente[i].calle_ref + " " + referencias_cliente[i].numero_calle_ref + "</td><td><button class='btn btn-xs btn-danger' onClick='eliminaRel(" + n + ")'><i class='fa fa-remove'></i></button></td></tr>";
        }
        $("#bodyDetalles").append(s);
        $('#table-datos').DataTable();
    }

    var markersArray = [];
    var markersArrayDom = [];

    function buscarNeg(a) {
        if (a == 1) {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 18.95652, lng: -98.18664 },
                zoom: 12
            });
            marker = new google.maps.Marker({
                position: { lat: 18.95652, lng: -98.18664 },
                map: map
            });
            markersArray.push(marker);
            map.addListener('click', function (e) {
                limpiarMarker(a);
                placeMarkerAndPanTo(e.latLng, map, 1);
            });
            infoWindow = new google.maps.InfoWindow;
            infoWindow.open(map);
        } else {
            map2 = new google.maps.Map(document.getElementById('mapD'), {
                center: { lat: 18.95652, lng: -98.18664 },
                zoom: 12
            });
            markerD = new google.maps.Marker({
                position: { lat: 18.95652, lng: -98.18664 },
                map: map2
            });
            markersArrayDom.push(markerD);
            map2.addListener('click', function (e) {
                limpiarMarker(a);
                placeMarkerAndPanTo(e.latLng, map2, 2);
            });
            infoWindowD = new google.maps.InfoWindow;
            infoWindowD.open(map2);
        }

    }
    function placeMarkerAndPanTo(latLng, map, t) {
        if (t == 1) {
            $("#latNeg").val(latLng.lat());
            $("#lonNeg").val(latLng.lng());
            var markers = new google.maps.Marker({
                position: latLng,
                map: map
            });
            map.panTo(latLng);
            markersArray.push(markers);
        } else {
            $("#latDom").val(latLng.lat());
            $("#lonDom").val(latLng.lng());
            var markersD = new google.maps.Marker({
                position: latLng,
                map: map2
            });
            map2.panTo(latLng);
            markersArrayDom.push(markersD);
        }
    }
    function limpiarMarker(a) {
        if (a == 1) {
            for (var i = 0; i < markersArray.length; i++) {
                markersArray[i].setMap(null);
            }
            markersArray = [];
        } else {
            for (var i = 0; i < markersArrayDom.length; i++) {
                markersArrayDom[i].setMap(null);
            }
            markersArrayDom = [];
        }

    }
</script>
