
@{
                /**/

                ViewBag.Title = "Evaluaciones Ecualitativas";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <style>

        .example-modal .modal {
            position: relative;
            top: auto;
            bottom: auto;
            right: auto;
            left: auto;
            display: block;
            z-index: 1;
        }

        .example-modal .modal {
            background: transparent !important;
        }
    </style>
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Evaluaciones
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Evaluaciones</a></li>
            <li class="active">Lista</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Evaluaciones</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Cliente</th>
                                    <th>Asesor</th>
                                    <th>Tipo Check List</th>
                                    <th>Fecha Validación</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="table_body"></tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div class="modal modal-danger fade" id="modal_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body" style="text-align:center">
                <p>¿Deseas Eliminar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btn_eliminar">Aceptar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="ModalSave">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Editar Evaluación</h4>
            </div>
            <div class="modal-body">
                
                <!-- /.modal-body -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btn_update">Aceptar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal_docs">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Documentos Asociados</h4>
            </div>
            <div class="modal-body" id="bodyDoc">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section Scripts
{
    <script type="text/javascript">
        var id = 0;
        $(document).ready(function () {
            $('#example1').DataTable();

            setTimeout(function () { ListaEvaluacionEcualitativa(); }, 1000);
        })

        $('#ModalSave').on('shown.bs.modal', function () {
            $(this).find('[autofocus]').focus();
        });
        $("#ModalSave").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            id = typeof button.data('id') != "undefined" ? button.data('id') : 0;
            if (id != 0) {
                $.ajax({
                    type: "GET",
                    url: "/CheckList/ConsultaCheckUnico/" + id,
                    data: '',
                    success: function (data) {
                        console.log(data.fecha_validacion_checklist);
                        var obj = data;

                        $('#tipo_check').val(obj.tipo_check_list).change();
                        $('#asesor').val(obj.id_asesor);
                        $('#cliente').val(obj.id_cliente);
                        $('#secuencia').val(obj.secuencia);
                        $('#monto_solicitado').val(obj.monto_solicitado);
                        $('#tipo_garantia').val(obj.tipo_garantia).change();
                        $('#codigo_operacion').val(obj.codigo_operacion);
                        $('#fecha').val(obj.fecha_validacion_checklist.toString());
                        $("input[name=status_check]").iCheck(obj.status_carpeta == true ? 'check' : 'uncheck');

                    }
                });
            }

        });
        $("#modal_delete").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            id = typeof button.data('id') != "undefined" ? button.data('id') : 0;

        });
        $("#modal_docs").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            id = typeof button.data('id') != "undefined" ? button.data('id') : 0;
            $.ajax({
                type: "GET",
                url: "/CheckList/ConsultaCheckContenido/" + id,
                data: '',
                success: function (data) {
                    console.log(data);
                    var rl = data.length;
                    var s = '<table id="example1" class="table table-bordered table-striped"><thead><tr><th>ID Documento</th><th>Descripción</th><th>Sección</th><th>Status SI</th><th>Status NA</th><th>Status Carpeta Electronica</th><th>Activo</th><th>Acciones</th></tr></thead><tbody id="table_body">';
                    for (var i = 0; i < rl; i++) {
                        var seccion = "";
                        switch (data[i].seccion_pertenece) {
                            case 0:
                                seccion = "General";
                                break;
                            case 1:
                                seccion = "Datos del cliente y de su garantía (personas físicas)";
                                break;
                            case 2:
                                seccion = "En caso de garantía hipotecaria (Cada copia de los documentos deberá ser cotejada contra original, sellada y firmada por el asesor que cotejó)";
                                break;
                            case 3:
                                seccion = "Documentos de identidad del cliente debidamente cotejados contra originales, sellados y firmados por el asesor que cotejó";
                                break;
                            case 4:
                                seccion = "Datos del Aval y en su caso, del obligado solidario, y/o garante prendario o hipotecario";
                                break;
                            case 5:
                                seccion = "Documentos de identidad del aval, obligado solidario, y/o garantes prendarios o hipotecarios  y Propietario Real (en caso de aplicar)";
                            case 6:
                                seccion = "Documentos de créditos liquidados";
                                break;
                            case 7:
                                seccion = "Documentos operativos de cada integrante";
                                break;
                            case 8:
                                seccion = "Documentos de identidad del cliente debidamente cotejadas contra originales, sellados y firmados por el asesor que cotejó.";
                                break;
                            case 9:
                                seccion = "Documentos de créditos liquidados: (Se anexan posterior a los documentos del último integrante vigente del grupo)";
                                break;
                        }
                        var bttnDelete = '<button class="btn btn-danger btn-xs" id="modal_delete_documento" data-id="' + data[i].id_documento + '" data-target="#modal_delete"  data-toggle="modal" title="Eliminar"><i class="glyphicon glyphicon-trash"></i></button>';
                        var Activo = data[i].status == true ? '<i class="fa fa-check text-navy"></i>' : '<i class="fa fa-times text-navy"></i>';
                        var ce = data[i].status_carpeta_electronica == true ? '<i class="fa fa-check text-navy"></i>' : '<i class="fa fa-times text-navy"></i>';
                        var na = data[i].status_na == true ? '<i class="fa fa-check text-navy"></i>' : '<i class="fa fa-times text-navy"></i>';
                        var si = data[i].status_SI == true ? '<i class="fa fa-check text-navy"></i>' : '<i class="fa fa-times text-navy"></i>';
                        s += '<tr><td>' + data[i].id_documento + '</td><td>' + data[i].descripcion + '</td><td>' + seccion + '</td><td>' + si+ '</td><td>' + na + '</td><td>' + ce + '</td><td>' + Activo + '</td><td>' + bttnDelete + '</td></tr>';
                    }
                    s += "</tbody></table>";
                    $("#bodyDoc").html(s);
                }
            });
        });
        /*UD*/
        $('#btn_update').click(function () {
            let tipo_check = $('#tipo_check option:selected').val() == undefined ? '0' : $('#tipo_check option:selected').val();
            let cliente = 0;
            let integrantes = "";
            let codigo_opera = "";
            let monto_solicitado = "0";
            let garantia = "0";
            if (tipo_check == 1) {
                cliente = $("#grupo").val();
                integrantes = $("#integrantes").val();
            } else {
                cliente = $("#cliente").val();
                codigo_opera = $("#codigo_opera").val();
                monto_solicitado = $("#monto_solicitado").val();
                garantia = $('#tipo_garantia option:selected').val() == undefined ? '0' : $('#tipo_garantia option:selected').val();
            }
            let asesor = $("#asesor").val();
            let secuencia = $("#secuencia").val();
            let fecha = $('#fecha').val();
            let status = $('input:checkbox[name=status_check]:checked').val() == undefined ? false : true;
            var data = {
                id_cliente: cliente,
                id_asesor: asesor,
                codigo_operacion: codigo_opera,
                secuencia: secuencia,
                monto_solicitado: monto_solicitado,
                tipo_garantia: garantia,
                fecha_validacion_checklist: fecha,
                numero_integrantes: integrantes,
                tipo_check_list: tipo_check,
                status: status
            };
            $.ajax({
                type: "POST",
                url: "/CheckList/UpdateCheck/" + id,
                dataType: "json",
                data: data,
                success: function (data) {
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                }
            });
        });

        $('#btn_eliminar').click(function () {
            $.ajax({
                type: "POST",
                url: "/CheckList/EliminaCheck/"+id,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                }
            });
        });
    </script>

}

