
@{
    ViewBag.Title = "Scoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Formulario de Scoring
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Scoring</a></li>
            <li class="active">General</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Acta de Integración</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-lg-6">
                            <div id="scoring_holder"></div>
                        </div>
                        <h4>Generar Relacion</h4>
                        <hr />
                        <h4>Agregar Pregunta a Scoring</h4>
                        <select class="form-control select2" id="tipo_check">
                            <option value="0">Seleccione...</option>
                        </select>
                        <div class="container">
                            <br />
                            <p id="resp_resp">Agregar preguntas a scoring</p>
                            <table class="table table-hover" id="ttscor">
                                <thead>
                                    <tr>
                                        <th>Pregunta</th>
                                        <th>

                                            <button onclick="DelRowSRT_T()" class="btn btn-default btn-sm pull-right">Borrar Respuesta </button>
                                            <button onclick="AddRowSRT_T()" class="btn btn-default btn-sm pull-right">Agregar Respuesta </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="scoringPT">
                                    <tr>
                                        <td><textarea class="form-control " cols="14" id="pregunta"></textarea></td>
                                        <td>
                                            <div>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Respuesta</th>
                                                            <th>Valor</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="SRT_T">
                                                        <tr>
                                                            <td><input type="text" class="form-control" id="regunta_st_1" value="" /></td>
                                                            <td><input type="text" onkeypress="return isNumberKey(event)" class="form-control" id="valor_st_1" value="" /></td>

                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="st_error" class="pull-right"></div>
                            <br />
                            <input type="number" id="pregt" class="hidden" value="" />
                            <button onclick="AddPregunta()" id="btnADDp" class="btn btn-default pull-right">Agregar</button>
                        </div>
                        <hr />
                        <form action="/" method="post"></form>
                    </div>

                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2();
            consultaContenidoCheck();
        })

    </script>

}

